.stylish {
    font-size: 1.5vmax;
}

.googleSigmarFont {
    font-family: 'Sigmar One', cursive;
}

.bg {
    background: blue;
}

.color-blue {
    color: blue;
}

.menu {
    padding-top: 10px;
}

.topMargin {
    margin-top: 15%;
    /* margin-bottom: 10%; */
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}

.landing {
    margin-top: 6%;
    background: blue;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 800px) {
    .stylish {
        font-family: 'Sigmar One', cursive;
        font-size: 2.5vmax;
    }
    .topMargin {
        margin-top: 35%;
    }
}